# Dependencies
node_modules/

# Environment
.env
.env.*
!.env.example

# Backend
backend/generated
backend/dist

# Frontend
frontend/node_modules
frontend/dist
frontend/.angular
frontend/.vercel

# Local terminal logs
terminals/

# IDEs
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System
.DS_Store
Thumbs.db